<h3 class = "center_align"> Welcome {{name}}!</h3>
<h2 class = "center_align"> Level: {{level}}</h3>
<h2 class = "center_align"> XP: {{xp}}</h3>
<button onclick = "findMatch()" id = "btn_findmatch" class = "btn btn-default center_align"> Search for match! </button>
<button onclick = "cancelMatch()" id = "btn_cancelmatch" class = "btn btn-default center_align" style = "display: none"> Stop Finding A Game </button>