<h3 id='information' class = "center_align"> Welcome {{user_name}}!</h3>
<button onclick = "findMatch()" id = "btn_findmatch" class = "btn btn-default center_align"> Find a Game </button>
<button onclick = "cancelMatch()" id = "btn_cancelmatch" class = "btn btn-default center_align" style = "display: none"> Stop Finding A Game </button>