
	<h4 id = "health_text">Health</h4>
	<progress  id = "healthbar" v-bind:max="max_health" v-bind:value="value_health"></progress>	


	<h4 id = "shield_text">Shields</h4>
	<progress  id = "shieldbar" v-bind:max="max_shield" v-bind:value="value_shield"></progress>
